:root{
    display: flex;
    -ms-flex-align: center;
    
    flex-wrap: wrap;
 }
 .corpo-calcolatrice{
    width: 310px; 
        height: 500px; 
        background-color: rgb(30, 0, 255);
        position: absolute;
        left: 37%;
        flex-grow: 500px;
       margin:  0 auto;
       margin-bottom: 5%;
       border-radius: 15px;
 }
 body{
    color: rgba(225, 255, 0, 0.675);
    background:  linear-gradient(to right,rgba(27, 136, 190, 0.985), green);
    background: linear-gradient(to top right,rgba(27, 136, 190, 0.985), green, rgb(187, 71, 90));
 }

   
 .boh{
   color: lightgreen;
   position: absolute;
   bottom: 0%;
   margin: 0 auto;}

  .container{
   height: 15px;
   width:  70px;
   background-color: rgba(187, 71, 90, 0);
   border-radius: 200px;
   top: 0%;
   position: absolute;
   right: 0%;
   display: flex;
   align-items: flex-end;
  
  }
  
   .switch{
      background-color: rgb(26, 255, 0);
      height: 15px;
   width: 70px;
   border-radius: 200px;
   cursor: pointer;
position: relative;
transition: 0.2s;
left: 30%;
margin-right: 30%;}
   
   .switch::before{
position:absolute;
content: "";
background-color: white;
width: 14px;
height: 15px;
border-radius: 250px;
margin: 5px;
border-top: 20px;
top: -5px;
left: -3px;
transition: 0.2s;
   }
   input:checked + .switch{
      background-color: rgb(12, 0, 139);
   }
   input:checked + .switch::before { 
      transform: translateX(30px);
   }
input{
display: none;
}
 h3{
   left: 0%;
  }
 .tasti button {
   height: 90px;
   width: 60px;
   padding: 10px;
   font-size: 40px;
   background-color: #f0f0f0;
   border: 1px solid #ccc;
   cursor: pointer;
   background-color: cyan;
  
  }

.tasti button:hover {
   background-color: #026460;
}

.tasti button:active {
   background-color: #013a55d0;
}
.div1{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 22%;
   position: absolute;
   top: 25%;
   right: 40%;
}
.div2{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 22%;
   position: absolute;
   top: 40%;
   right: 40%;
}
.div3{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 22%;
   position: absolute;
   top: 55%;
   right: 40%;
}
.div4{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 22%;
   position: absolute;
   top: 70%;
   right: 40%;
}

.display{
   background-color: dodgerblue;
   top: 13%;
   position: absolute;
   left: 38%;
   height: 70px;
   width: 285px;
  display: block;
  font-size: 50px;   
}
.delete{
   display: flex;
   position: absolute;
   right: 48%;
   top: 85%;
}
